<!DOCTYPE html>
<html lang="en">
    <title>Geography Web App</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="container">
                <h1>Super Geocoder</h1>
                <h3>Please upload you CSV file. The values containing addresses should be in a column named <i>address</i> or <i>Address</i></h3>

                <form action="/" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <button type="submit"> Submit </button>
                </form>
                <br>
            </div>
        </body>
</html>