<!DOCTYPE html>
<html lang="en">
    <title>Geography Web App</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="container">
                <h1>Super Geocoder</h1>
                <h3>Please upload you CSV file. The values containing addresses should be in a column named <i>address</i> or <i>Address</i></h3>

                <form action="{{url_for('success')}}" method="POST">
                    <input title="Your email will be safe with us" placeholder="Enter your email address" type="email" name="email_name" required> <br>
                    <input title="Your data will be safe with us" placeholder="Enter your height in cm" type="number" min="50" max="300" name="height_name" required> <br>
                    <button type="submit"> Submit </button>
                </form>
            </div>
        </body>
</html>